@use 'variable' as *;

@mixin button($type-line, $bg-color, $txt-color, $radius, $font-size, $padding, $width){
    width: $width;
    margin: 0;
    padding: 0;
    font-size: $font-size;
    padding: $padding;
    box-sizing: border-box;
    transition: .5s ease all;
    font-weight: 600;
    @if $type-line{
        color: $txt-color !important;
        background:  $bg-color !important;
        background-color: $bg-color !important;
        border-radius: $radius !important;
    }@else{
        color: $txt-color !important;
        border: 1px solid $bg-color !important;
        background:  $bg-color !important;
        background-color: $bg-color !important;
        border-radius: $radius !important;
    }
}


@mixin input($position, $font-size, $border-size, $border-color, $padding){
    margin: 0;
    padding: $padding;
    font-size: $font-size;
    border-width: $border-size;
    border-color: $border-color;
    box-sizing: border-box;
    text-align: $position;
}