.animation-bounce{
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: -8px;
        right: 0;
        top: -2px;
        bottom: 0;
        width: 75px;
        height: 75px;
        background: #68d8ee61;
        margin: auto;
        z-index: -1;
        border-radius: 90px;

        animation-name: bounce;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}

@keyframes bounce{
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100%{
        
        transform: scale(1.2);
        opacity: 0;
    }
}