@use '../01-abstracts/variable' as *;
@use '../01-abstracts/mixins' as *;

.container{
    &-card{
        &__action{
            position: fixed;
            bottom: 30px;
            width: 315px;
            background: red;
            border: none;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            box-shadow: 0 3px 3px -2px rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%);
            font-size: 17px;
            color: white;
            letter-spacing: 3px;
            transition: .4s ease all;
            img{
                width: 20px;
                margin-right: 5px;
            }
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}