.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-card{
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        font-family: "Nunito Sans", sans-serif;
        max-width: 420px;
        min-width: 320px;
        overflow: hidden;
        transform: translateZ(0px);
        width: 100%;
        margin: 1rem 0;
        margin-bottom: 7rem;
        box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
        position: relative;
        &__image{
            position: relative;
            img{
                width: 100%;
            }
            svg{
                bottom: -2px;
                left: -2px;
                position: absolute;
                width: calc(100% + 4px);
            }
        }
        &__logo{
            position: absolute;
            right: 0;   
            bottom: 0;
            img{
                width: 130px;
                @media(max-width: 600px){
                    width: 90px;
                }
            }
        }
        &__info{
            width: 100%;
            position: relative;
            padding: 1.5rem;
            box-sizing: border-box;
            h1{
                font-size: 1.75rem;
                font-weight: 800;
                line-height: 2.25rem;
                padding-left: 1.5rem !important;
                border-left: 1px dashed black;
            }
            p{
                font-size: 1.25rem;
                line-height: 2rem;
                padding-left: 1.5rem !important;
                border-left: 1px dashed black;
            }
            /*border-left: 1px dashed black;
            padding-left: 1.5rem;
        */}
        &__social{
            padding-bottom: 15px;
            ul{
                list-style: none;
                li{
                    width: 100%;
                    padding: 0.5rem 1.5rem;
                    box-sizing: border-box;
                    a{
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color: #000;
                        cursor: pointer;
                        .icon{
                            width: 50px;
                            height: 50px;
                            background-color: red;
                            border-radius: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 10px;
                            box-sizing: border-box;
                            margin-right: 10px;
                            img{
                                width: 25px;
                            }
                        }
                        p{
                            font-size: 1.1rem;
                            line-height: 1.5em;
                        }
                    }
                    &:hover{
                        background: #fbf9fe ;
                    }
                }
            }
        }
    }
}